
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Login</title>
    <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Content/layui/layui.js"></script>
    <link href="~/Content/layui/css/modules/layer/default/layer.css" rel="stylesheet" />
    <script src="~/Content/layui/lay/modules/layer.js"></script>
    <style type="text/css">
        .login_content {
            width: 400px;
            margin: 12% auto;
        }

        body {
            background-image: url(/Content/images/bg.gif);
            background-repeat: no-repeat;
            background-size: cover;
        }

        .login_content h2 {
            color: white;
            margin-bottom: 3%;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="login_content">
        <h2>请登录</h2>
        <form class="layui-form" action="" id="formId" method="post">
            <div class="layui-form-item">
                <div class="layui-inline">
                    @*<label class="layui-form-label">用户名：</label>*@
                    <div class="layui-input-block">
                        <input type="text" name="nickName" lay-verify="required" lay-reqtext="用户名是必填项，岂能为空？" autocomplete="off" placeholder="请输入用户名" class="layui-input">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    @*<label class="layui-form-label">密码：</label>*@
                    <div class="layui-input-block">
                        <input type="password" name="password" lay-verify="required" lay-reqtext="用户密码是必填项，岂能为空？" autocomplete="off" placeholder="请输入用户密码" class="layui-input">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit="" lay-filter="go">登录</button>
                    <button type="reset" class="layui-btn layui-btn-primary" onclick="Register()">注册</button>
                </div>
            </div>
        </form>
    </div>
    <script>
        layui.use(['form'], function(){
            var form = layui.form;
             //使用layui内置的On方法则可在校验全都通过后再执行ajax请求
            form.on('submit(go)', function (data) {

                $.ajax({
                    //提交数据的类型 POST GET
                    type: "POST",
                    //提交的网址
                    url: "/Base/LoginCheck",
                    //提交的数据
                    data: data.field,
                    //返回数据的格式
                    dataType: "json",//"xml", "html", "script", "json", "jsonp", "text".
                    //成功返回之后调用的函数
                    success: function (result) {
                        //layer.load(1); //风格1的加载
                        //var data = eval("(" + result + ")")
                        if (result.Code == "1") {
                            alert(result.Msg);
                            window.location.href = "/Base/Index";
                        } else {
                            alert(result.Msg);
                        }
                    },
                    //调用出错执行的函数
                    error: function () {
                        //请求出错处理
                        alert("错了");
                    }
                });
                return false;//需要这段代码，否则会出现因刷新页面而导致没执行回调的bug
            })
        });
    function Register() {
        window.location.href = "/Base/Register";
    }
    </script>
</body>
</html>
